# gatsby files
.cache/*
node_modules/*
public/*
.storybook/*
@types
__mocks__
__tests__

gatsby-*.js
stories/*

jest*.js
gatsby*.ts
jest*.ts
*.test.*
*.spec.*

**/_generated_/*

loadershim.ts
.huskyrc.js