# gatsby files
.cache/*
node_modules/*
public/*
@types
__mocks__
__tests__

gatsby-*.js

jest*.js
gatsby*.ts
jest*.ts
*.test.*
*.spec.*

**/_generated_/*

loadershim.ts

# config files
*.config.js
.*rc.js
jest-preprocess.js

# test
.storybook/
coverage/
